<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="car">
  <link name="vehicle_base_link">
    <inertial>
      <origin xyz="0 0 0.6" rpy="0 0 0" />
      <mass value="500" />
      <inertia ixx="200" ixy="0" ixz="0" iyy="1000" iyz="0" izz="1100" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://car/meshes/car.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
        <texture filename="package://car/textures/" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://car/meshes/car.STL" />
      </geometry>
    </collision>
  </link>
</robot>