<?xml version="1.0"?>
<launch>

  <param name="use_sim_time" value="true"/>

  <!-- - TF -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_link2vehicle_reference" args="-2 0 1 0 0 0 /base_link /vehicle_reference 10" /> -->
  <!-- these are the arguments you can pass to this launch file, for example paused:=true -->
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- 矿下地图模型 -->
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-file $(find mine)/urdf/mine.urdf -urdf -model mine -z 0.5" output="screen" />
  <node name="fake_joint_calibration" pkg="rostopic" type="rostopic" args="pub /calibrated std_msgs/Bool true" />


  <!-- 车辆模型  -->
  <arg name="model" default="$(find xacro)/xacro --inorder '$(find car)/urdf/car.xacro'" />
  <param name="robot_description" command="$(arg model)" />

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model car -param robot_description -x 0 -y 8 -z 0.8 -Y -1.57"/>

  <!-- 运动控制 -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <!--- Run Rviz-->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find perception)/launch/simulation.rviz" />

  <!-- 感知程序 -->
  <node name="simuSegSave" pkg="perception" type="simuSegSave" output="screen"></node>
  <node name="intersection" pkg="perception" type="intersection" output="screen"></node>
  <node name="laneDetection" pkg="perception" type="laneDetection" output="screen"></node>
  <!-- <node name="main" pkg="perception" type="main" output="screen"></node> -->

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_gazebo)/launch/mineSimulation.rviz"/> -->

  <!-- <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"></node> -->

  <!-- <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"></node> -->

  <!-- <node name="rqt_logger_level" pkg="rqt_logger_level" type="rqt_logger_level"></node> -->

</launch>
