<launch>

  <node name="intersection" pkg="preception" type="intersection" output="screen" ></node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find preception)/launch/intersectionDetection.rviz"/>
  
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" ></node>
  
  <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot" ></node>

  <!-- <node name="rqt_logger_level" pkg="rqt_logger_level" type="rqt_logger_level" ></node> -->

</launch>
