<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="mine">

  <link name="world"/>

  <joint name="fixed_joint" type="fixed">
    <parent link="world"/>
    <child link="map_base_link"/>
  </joint>

  <gazebo reference = " map_base_link">
    <material>Gazebo/Grey2</material>
  </gazebo>
  <link name="map_base_link">
    <inertial>
      <origin xyz="130.791656630179 183.679812025031 3.93639265734445" rpy="0 0 0" />
      <mass value="2395284620.73989" />
      <inertia ixx="32026607026425.4" ixy="-842439627183.297" ixz="-1743736450.80421" iyy="18022519118233.7" iyz="-4967746233.79514" izz="50008411542104.2" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://mine/meshes/map_base_link.STL" />
      </geometry>
      <material name="Grey2">
        <color rgba="0.9 0.9 0.9 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://mine/meshes/map_base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>