<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="mine">
  <link name="world"/>

  <joint name="fixed_joint" type="fixed">
    <parent link="world"/>
    <child link="map_base_link"/>
  </joint>

  <gazebo reference = " map_base_link">
    <material>Gazebo/Grey2</material>
  </gazebo>
  <link name="map_base_link">
    <inertial>
      <origin xyz="130.630883612648 183.222897292132 1.44426216189961" rpy="0 0 0" />
      <mass value="1214601478.83166" />
      <inertia ixx="16229691469230.9" ixy="-375199663758.366" ixz="-763346438.568595" iyy="9128853154902.45" iyz="-2175455672.19065" izz="25353355932937.9" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://mine/meshes/map_base_link.STL" />
      </geometry>
      <material name="Grey2">
        <color rgba="0.9 0.9 0.9 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://mine/meshes/map_base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>